@layer reset, theme, base, mui, components, utilities;

@import 'tailwindcss';

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@font-face {
  font-family: 'Academicons';
  src: url('/academicons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    margin: unset;
    background: var(--color-background);
    color: var(--color-typography);
    font-family: var(--font-open-sans), sans-serif;
    font-display: swap;
  }
}

:root {
  /* Tier 1 */
  --yellow: #fff2d9;
  --purple: #744d82;
  --purple-alt: #865ea0;
  --purple-secondary: #bfb1c4;
  --purple-light: #f4e5f9;
  --purple-light-alt: #f2cdff;
  --white: #fff;
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --black: #0e1828;
  --black-opacity-50: rgba(14, 24, 40, 0.5);
  --gray: #bdbfc2;
  --gray-alt: #e9e9e9;
  --green: #42b072;
  --red: #ff0000;

  --max-width: calc(1440px + 2.5rem);

  --max-form-content-width: calc(1400px);

  --side-padding: 1.25rem;

  --default-content-padding: 2rem;

  --default-gap: 2rem;

  --default-letter-spacing: 0.025rem;
  --default-line-height: 1.5;

  --default-radius: 0.3215rem;

  /* Tier 2 */
  --color-background: var(--yellow);
  --color-background-alt: var(--white-opacity-50);
  --color-typography: var(--black);
  --color-typography-secondary: var(--white);
  --color-typography-alt: var(--purple);
  --color-border: var(--green);
  --color-border-alt: var(--purple);
  --color-purple: var(--purple);
  --color-primary: var(--purple);
  --color-success: var(--green);
  --color-error: var(--red);
  --color-hover: var(--purple-light);
  --color-placeholder: var(--gray);
  --color-icon: var(--purple);

  /* Tier 3 */
  --header-height: 5.625rem;
  --footer-height: 4rem;

  --color-link: var(--purple);

  --color-button-contained-background: var(--purple);
  --color-button-contained-text: var(--yellow);
  --color-button-outlined-border: var(--purple);
  --border-button-radius: var(--default-radius);

  --color-icon-button: var(--purple);
  --color-icon-button-medium-background: var(--purple);
  --color-icon-button-medium-text: var(--yellow);

  --color-markdown-background: var(--white);
  --color-markdown-text: var(--color-typography);
  --color-markdown-border: var(--purple);
  --color-markdown-radius: var(--default-radius);
  --color-markdown-error: var(--color-error);

  --color-switch: var(--purple);

  --color-text-field-background: var(--white-opacity-30);
  --color-text-field-border: var(--purple);
  --color-text-field-label: var(--black-opacity-50);
  --color-text-field-text: var(--color-typography);
  --color-text-field-error: var(--color-error);

  --color-form-field-label: var(--color-typography);

  --color-notification-text: var(--yellow);
  --color-notification-background-success: var(--color-success);
  --color-notification-background-error: var(--color-error);
  --color-notification-border: var(--yellow);

  --color-chip-background: var(--white);
  --color-chip-text: var(--purple);

  --color-autocomplete-group-background: var(--purple-light-alt);

  --color-table-text: var(--color-typography);
  --color-table-border: var(--color-success);
  --color-table-row-hover-background: var(--white);
  --color-table-edit-row-form-background: var(--white);

  --color-tooltip-background: var(--white);
  --color-tooltip-border: var(--gray);

  --color-modal-background: var(--white);

  --color-list-item-selected: var(--purple-light-alt);

  --color-data-indicator-border: var(--color-success);
  --color-data-indicator-border-error: var(--color-success);
}

@theme inline {
}
