AUTH_SECRET=secret for tokens
THOTH_AUTH_API_URL=authorization api url
NEXT_PUBLIC_THOTH_API_URL=https://api.test.thoth.pub/graphql
NEXT_PUBLIC_META_API_URL=https://export.thoth.pub
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000