PORT=3000
AUTH_SECRET=secret for tokens
THOTH_AUTH_API_URL=authorization api url
NEXT_PUBLIC_THOTH_API_URL=https://api.test.thoth.pub/graphql
NEXT_PUBLIC_META_API_URL=https://export.thoth.pub
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000
ZITADEL_POST_LOGOUT_URL="http://localhost:3000/api/auth/logout/callback"
SESSION_DURATION=3600
SESSION_SECRET="your-very-secret-and-strong-session-key"
ZITADEL_DOMAIN="https://your-zitadel-domain"
ZITADEL_CLIENT_ID="your-client-id"
ZITADEL_CALLBACK_URL="http://localhost:3000/api/auth/callback/zitadel"
ZITADEL_CLIENT_SECRET="your-randomly-generated-client-secret"