@import 'tailwindcss';

@layer reset, theme, base, layout, modules, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer base {
  body {
    margin: unset;
    background: var(--color-background);
    color: var(--color-typography);
    font-family: var(--font-open-sans), sans-serif;
    font-display: swap;
  }
}

:root {
  /* Tier 1 */
  --yellow: #fff2d9;
  --purple: #744d82;
  --purple-alt: #865ea0;
  --purple-secondary: #bfb1c4;
  --purple-light: #f4e5f9;
  --purple-light-alt: #f2cdff;
  --white: #fff;
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-80: rgba(255, 255, 255, 0.8);
  --white-opacity-60: rgba(255, 255, 255, 0.6);
  --black: #0e1828;
  --gray: #bdbfc2;
  --gray-alt: #e9e9e9;
  --blue: #394963;
  --green: #42b072;
  --red: #ff0000;

  --max-width: calc(1440px + 2.5rem);

  --side-padding: 1.25rem;

  /* Tier 2 */
  --color-background: var(--yellow);
  --color-typography: var(--black);
  --color-typography-alt: var(--blue);
  --color-typography-secondary: var(--white);
  --color-border: var(--green);
  --color-purple: var(--purple);
  --color-success: var(--green);

  /* Tier 3 */
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
